<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid" style="background-color:#e8e8e8">
  <div  class="container container-pad" id="property-listings">
      <div class="row">
        <div class="col-md-12">
          <h1>{{selectedHouse.name}}</h1>
        </div>
      </div>
    <div class="row"> 
      <ul>
        <li>
          Fiyat: {{selectedHouse.price}}
        </li>
        <li>
          Konum: {{selectedHouse.location}}
        </li>
        <li>
          Açıklama: {{selectedHouse.description}}
        </li>
        <li>
          Yatak Odası Sayısı: {{selectedHouse.yatak_sayisi}}
        </li>
        <li>
          Banyo Sayısı: {{selectedHouse.banyo_sayisi}}
        </li>
        <li>
          Resimler: <img alt="image" class="img-responsive" [src]= "selectedHouse.imagePath" width="500" height="500">
        </li>
      </ul>
    </div>
  </div>
</div>

<p style="text-align: center;">&copy; Copyright Real Estate Service</p>

