<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container-fluid" style="background-color:#e8e8e8">
    <div  class="container container-pad" id="property-listings">
        <div class="row">
          <div class="col-md-12">
            </div>
        </div>
    </div>
</div>

